
* {
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.cajas {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-areas: 

    "item01 item02 item02 item03"
    "item04 item05 item06 item07"
    "item04 item08 item09 item10"
    "item04 item11 item12 item13"
    "item14 item14 item15 item15";

    gap: 10px;
}

.cajas div {
  display: flex;
  justify-content: center;

  align-items: center;
  border-radius: 20px;
}

.item01 {
  grid-area: item01;
  background-color: rgb(255, 0, 0);
}
.item02 {
  grid-area: item02;
  background-color: rgb(204, 46, 46);
}
.item03 {
  grid-area: item03;
  background-color: rgb(250, 135, 135);
}
.item04 {
  grid-area: item04;
  background-color: rgb(255, 106, 0);
}
.item05 {
  grid-area: item05;
  background-color: rgb(195, 0, 255);
}
.item06 {
    grid-area: item06;
    background-color: rgb(0, 255, 85);
}
.item07 {
    grid-area: item07;
    background-color: rgb(0, 68, 255);
}
.item08 {
    grid-area: item08;
    background-color: rgba(132, 246, 97, 0.537);
}
.item09 {
    grid-area: item09;
    background-color: rgba(195, 0, 255, 0.442);
}
.item10 {
    grid-area: item10;
    background-color: rgba(234, 255, 0, 0.442);
}
.item11 {
    grid-area: item11;
    background-color: rgb(0, 68, 255);
}
.item12 {
    grid-area: item12;
    background-color: rgb(234, 255, 0);
}
.item13 {
  grid-area: item13;
  background-color: rgb(195, 0, 255);
}
.item14 {
  grid-area: item14;
  background-color: rgb(255, 0, 157);
}
.item15 {
  grid-area: item15;
  background-color: rgb(136, 255, 0);
}
img{
  width: 50%;
  height: 50%;
  object-fit: cover;
}
